<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<% if logged_in? %>
  <section class="post_form">
    <%= render 'shared/post_form' %>
  </section>
  <p>検索</p>
  <%= form_tag(search_path, method: :get) do %>
    <%= text_field_tag :search, @search_word %>
    <%= submit_tag 'Search', name: :nil %>
  <% end %>
<% end %>


<div class="feed">
  <h3>post Feed</h3>
  <%= render 'shared/feed' %>
</div>
