  <main id="contents" class="site-width">
    <div class="sign-container">
      <div class="signup-container">
        　<div class="site-title underline">プロフィール編集</div>

        <%= form_for(@user, multipart: true) do |f| %>

          <div class="sign-email">
            <%= f.label :name, "名前", class: "sign__label" %>
            <%= f.text_field :name, class:"sign__input sign__email" %>
          </div>

          <div class="sign-email">
            <%= f.label :email, "メールアドレス", class: "sign__label" %>
            <%= f.email_field :email, class:"sign__input sign__email" %>
          </div>

          <div class="sign-pass">
            <%= f.label :password, "パスワード", class: "sign__label" %>
            <%= f.password_field :password, class:"sign__input sign__pass" %>
          </div>

          <div class="sign-pass">
            <%= f.label :password_confirmation, "パスワード再入力", class: "sign__label" %>
            <%= f.password_field :password_confirmation, class:"sign__input sign__pass" %>
          </div>

          <%= f.label :image, "ファイル選択", class: "edit_img_label" %>
          <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: 'form__img_field js_on_change', style: 'display: none;' %>



          <div class="btn-container-login edit_btn">
            <%= f.submit "変更", class:"login-btn" %>
          </div>


      </div>
      <div class="edit_img_container">

          <% if @user.image? %>
             <%= image_tag @user.image.url, size: '300x300', class: 'form__img' %>
          <% else %>
             <%= image_tag "/assets/default.png", size: '300x300', class: 'form__img' %>
          <% end %>
            <img id="preview" style:"display:none;"></img>

        <% end %>

      </div>
    </div>
  </main>


<script type="text/javascript">
  $(function () {
    console.log(124);

      $('#user_image').on('change', function (e) {
        $('.edit_img_label').addClass('selected_img');
        $("#preview").addClass('is_active');




        console.log(343);
        var reader = new FileReader();
        reader.onload = function (e) {
            $("#preview").attr('src', e.target.result);
      }
      reader.readAsDataURL(e.target.files[0]);
    });
});

</script>
