<div id="search__user">
  <%= form_tag(search_users_path, method: :get, class: "search__form__user", enforce_utf8: false) do %>
        <div class="search__user__select_box">
          <%= text_field_tag :search, @search_word, placeholder: "キーワード [例:guest,taro,tanaka]", class: "search__input", style: "margin-left: 20px;" %>
        </div>
        <div class="search__user__select_box">
            <%= select_tag 'order', options_for_select([["投稿数が多い順", "1"], ["投稿数が少ない順", 2]], @order), { prompt: '表示順を選択', class: 'search__select search__select__user'}  %>
        </div>

          <%= button_to 'Search', class: "search__user__button" do %>
            <i class="fas fa-search-plus"></i>
          <% end %>

  <% end %>
</div>
<div class="horizon-container"></div>

<section class="user-container">
  <div class="search-title">
      <div class="search-left"></div>
          <span class="total-num"><%= @users.count %></span>人のユーザーが見つかりました
      <div class="search-right">
          <span class="num"><%= @users.offset + 1 %></span>-
          <!-- 合計ユーザー数が表示数よりが少ない場合、合計ユーザー数を表示する -->
          <span class="num"><%= @users.count > @users.per_page ? @users.per_page + @users.offset : @users.count; %></span>人/
          <spna class="num"><%= @users.count %></spna>人中
      </div>
  </div>
  <%= render @users %>
</section>
<%= will_paginate %>



<style media="screen">

  .search__form__user {
    border: 1px solid grey;
    border-radius: 50px;
    overflow: hidden;
  }

  .search__select__user {

    width: 177px;
  }

  .search__user__select_box {
    float: left;
    border-right: 1px solid #d5d5d8;
  }
  .search__user__select_box:first-child {
    width: 74%;
  }


  .search__user__button {
    -webkit-appearance: none;
    width: 115px;
    height: 44px;
    transition: all .6s;
    background: white;
    border: none;
    outline: none;
    transition: .6s;
  }
  .search__user__button:hover {
    transition: .6s;
    color: skyblue;
    transform: scale(1.1)
  }
</style>
