<main id="contents" class="site-width">
    <div class="sign-container">
      <div class="signup-container">
        　<div class="site-title underline">お試しでご利用の方はこちら</div>
        <div class="sign-btn__container">
          <%= link_to 'お試し利用（簡単ログイン）', guest_login_path, method: :post, class: 'otameshi-btn otameshi_only'%>
        </div>
      </div>

      <div class="signup-container">
        　<div class="site-title underline">メールアドレスで新規登録</div>

        <%= form_for(@user, url: signup_path ) do |f| %>
          <div class="sign-email">
            <%= f.label :email, "メールアドレス", class: "sign__label" %>
            <%= f.email_field :email, class:"sign__input sign__email" %>
          </div>

          <div class="sign-pass">
            <%= f.label :password, "パスワード", class: "sign__label" %>
            <%= f.password_field :password, class:"sign__input sign__pass" %>
          </div>

          <div class="sign-pass">
            <%= f.label :password_confirmation, "パスワード再確認", class: "sign__label" %>
            <%= f.password_field :password_confirmation, class:"sign__input sign__pass" %>
          </div>

          <div class="btn-container-login">
            <%= f.submit "ログイン", class:"login-btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </main>
