<% if logged_in? && current_user?(@user) %>
  <section class="post_form">
    <%= render 'shared/post_form' %>
  </section>
  <div class="horizon-container"></div>
<% end %>

<section id="main" class="products-container">
    <div class="list panel-list">
        <h2 class="horizon-container">
            <span class="title">登録動画一覧（<%= @user.posts.count %>個）</span>
        </h2>
        <% if @user.posts.any? %>
            <%= render @posts %>
          <%= will_paginate @posts %>
        <% end %>
    </div>
    <div class="list panel-list">
        <h2 class="horizon-container">
            <span class="title">お気に入り動画一覧（<%= @favorite_posts.count %>個）</span>
        </h2>
        <% if @favorite_posts.any? %>
            <%= render @favorite_posts %>
          <%= will_paginate @favorite_posts %>
        <% end %>
    </div>
</section>
<%= render 'layouts/info' %>
<% if logged_in? && current_user?(@user) %>
  <%= render 'layouts/sidebar' %>
<% end %>
