<div class="info_side_container">
  <%= render 'layouts/info' %>
  <%= render 'layouts/sidebar' %>
</div>

<section id="main">
  <div class="products_container">
    <div class="list panel-list">
        <h2 class="horizon-container">
          <% if logged_in? && current_user?(@user) %>
              <span class="title">あなたにオススメな動画（<%= @user.posts.count %>個）</span>
        　<% else %>
              <span class="title">登録動画一覧（<%= @user.posts.count %>個）</span>
          <% end %>

        </h2>
        <% if @user.posts.any? %>
            <%= render @posts %>
          <%= will_paginate @posts %>
        <% end %>
    </div>
    <div class="list panel-list">
        <h2 class="horizon-container">
            <span class="title">お気に入り動画一覧（<%= @favorite_posts.count %>個）</span>
        </h2>
        <% if @favorite_posts.any? %>
            <%= render @favorite_posts %>
          <%= will_paginate @favorite_posts %>
        <% end %>
    </div>
  </div>
</section>


<style media="screen">

  .products_container {
    margin-top: 20px;
    min-height: 200px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 0 8px grey;
    width: 99%;
  }
</style>
