<li id="post-<%= post.id %>">
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="content"><%= post.title %></span>
  <%= link_to image_tag("https://img.youtube.com/vi/#{post.youtube_url}/mqdefault.jpg", width: '320'), post_path(post)%>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>
