
<main id="contents" class="site-width">
  <div class="share__container__one">
    <div class="signup-container">
      　<div class="site-title underline">動画を共有する</div>


          <%= form_for @post,  html: { method: "post", class: "", enforce_utf8: false } do |f| %>

            <div class="sign-email">
              <%= f.label :youtube_url, "動画URL", class: "sign__label" %>
              <%= f.text_field :youtube_url, placeholder: "例 [https://www.youtube.com/watch?v=v8VYiwwbHAI]", class: "js_get_url sign__input" %>
            </div>

            <div class="form-group sign-email">
              <%= f.label :category, 'カテゴリー' %>
              <%= f.select :category, options_from_collection_for_select(Category.all, :id, :name, params[:category_id]) , { include_blank: '選択してください'}, { class: 'sign__input' , required: true } %>
            </div>

            <%= f.fields_for :comments , class: "" do |i| %>

            <div class="sign-email">
              <div class="rate">
                  <%= i.label :rate, '評価' %>
                  <div class="rate__star " id="js__star">
                      <%= i.hidden_field :rate  %>
                  </div>

                <script>
                    $('#js__star').raty({
                        size     : 36,
                        starOff:  '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        starHalf: '<%= asset_path('star-half.png') %>',
                        scoreName: 'post[comments_attributes][0][rate]',
                        half: true,
                    });
                </script>
              </div>
            </div>

            <div class="sign-email">

              <%= i.label :title, "タイトル" %>
              <%= i.text_field :title, class:"sign__input sign__email" %>
            </div>

            <div class="sign-email">
                  <%= i.label :content, "レビュー" %>
                  <%= i.text_area :content, size: "50x50", class: "share__review" %>
                  <%= i.hidden_field :user_id, value: @user.id %>

              <% end %>
            </div>

            <div class="btn-container-login">
              <%= f.submit "登録", class:"login-btn" %>
            </div>

            <% end %>

    </div>


    <div class="share__container">


        <% if @post.youtube_url.present? %>
              <%= content_tag(:div,  class: "ribbon12-wrapper") do %>
                <h3 class="ribbon12"><%= @post.title %></h3>
                <%= image_tag("https://img.youtube.com/vi/#{@post.youtube_url.last(11)}/mqdefault.jpg", size: '400x250', class: "form__img") %>
                <%= content_tag(:div, @post.channel_title, class: "share__title_channel") %>
              <% end %>

        <% else %>
               <%= image_tag "/assets/default.png", size: '300x300', class: 'form__img' %>
        <% end %>

        <%= form_tag(check_path, method: :get, :class => 'form-ajax') do -%>
          <%= hidden_field_tag :ajax_handler, 'handle_name1' -%>
          <%= submit_tag('動画チェック', :class => 'sign-btn signup-btn') -%>
        <% end %>

    </div>
  </div>
</main>




<style media="screen">
  .rate {
    display: flex;
    align-items: center;
  }

  .rate__star {
    margin-left: 10px;
  }

  .share__container__one {
      border: 1px solid #bababa;
      padding: 30px;
      box-sizing: border-box;
      overflow: hidden;
      align-items: center;
      display: flex;
  }

  #post_category > option:nth-child(1) {
    color: red;
  }
</style>

<script type="text/javascript">
$(function () {

    $('#user_image').on('change', function (e) {
      $('.edit_img_label').addClass('selected_img');
      $("#preview").addClass('is_active');

      var reader = new FileReader();
      reader.onload = function (e) {
          $("#preview").attr('src', e.target.result);
        }
    reader.readAsDataURL(e.target.files[0]);

    });


    $('.js_get_url').on('change', function (e) {
      var url = $(this).val();
      console.log(url);
       // $('.js_change_value')[0].dataset.youtubeUrl = url
        $('.js_change_value').attr("youtube_url", url)
        $('#ajax_handler').val(url)
    });
});

</script>
