
<h1 class="site-title"><%= @post.title %></h1>
<section id="main" class="product">
    <span class="product__category"><%= @category? @category: "未分類"; %></span>
    <div class="product__img-container">
        <iframe
          class="product__img"
          width="640"
          height="360"
          src="https://www.youtube.com/embed/<%= @post.youtube_url %>"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
    </div>
</section>
<%= render 'layouts/video-info' %>
<% if logged_in? %>

  <%= form_for [@post, @comment], html: { class: "form-review" } do |f| %>
    <%= f.text_area :content, class: "form-review__content" %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <br>
    <%= f.submit 'レビューする', class: "btn btn-mid" %>
  <% end %>
<% end %>

<section class="product-comment">
  <div class="product-comment-container">
    <div style="text-align:center;">レビュー一覧(<%= @post.comments.count %>レビュー)</div>
    <div class="review-count">
    </div>
      <% @comments.each do |c| %>
        <div class="review">
          <div class="review__name-icon">
            <%= content_tag(:div, c.user.name, class: 'review__name') %>
            <% if c.user.image? %>
               <%= image_tag c.user.image.thumb.url, size: '50x50' %>
            <% else %>
               <%= image_tag "/assets/default.png", size: '50x50' %>
            <% end %>
          </div>
          <div class="review__comment-container">
            <div class="review__comment">
              <%= c.content %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</section>
