<section id="sidebar" class="info-container">

    <% if @user.image? %>
       <%= image_tag @user.image.thumb.url %>
    <% else %>
       <%= image_tag "/assets/default.png", size: '100x100' %>
    <% end %>
    <section class="stats">
        <div class="sidebar__user-name">
          <%= @user.name %>
        </div>
         <%= render 'shared/stats' %>
    </section>
    <div class="box btn_follow">

      <% if logged_in? && !current_user?(@user) %>
        <%=  render 'follow_form'  %>
      <% else %>
        <div class="now_post">
          <span class="now_post__text">
            現在の共有数
            <span class="now_post__count">
              <%= @user.posts.count %>本
            </span>
          </span>
        </div>
      <% end %>
    </div>

</section>

<style media="screen">
  .now_post {
    width: 250px;
    height: 60px;
    background: skyblue;
    margin-top: 15px;
    opacity: .8;
    border-radius: 10px;
  }

  .now_post__text {
    line-height: 60px;
  }

  .now_post__count {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
  }

</style>
