<section id="sidebar" class="sidebar-container">
  <%= link_to "マイページ", user_path(@user), { class: "sidebar__link"} %>
  <%= link_to "ユーザー設定", edit_user_path(current_user), { class: "sidebar__link" } %>
  <%= link_to "動画を共有する", new_post_path, { class: "sidebar__link" , data: { turbolinks: false } } %>
  <%= link_to "ユーザー一覧", users_path, { class: "sidebar__link" } %>
  <%= link_to "ログアウト", logout_path, { class: "sidebar__link", method: "delete"} %>
</section>


<style media="screen">
  .sidebar-container {
    margin-top: 20px;
    float: left;
    min-height: 200px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 0 3px grey;
    width: 100%;
  }

  .sidebar__link {
    border-bottom: 1px dotted grey;
    display: block;
    text-decoration: none;
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
  }

  .sidebar__link:hover {
  	color: #fff;
  	/* transform: scale(1.1); */
    text-decoration: none;
    background-color: skyblue;
    color: white;
    transition: .6s;
  }
</style>
