<section id="sidebar" class="video__info__container">

  <div class="video__info__title">動画情報</div>

  <% if logged_in? %>
    <div class="like-edit">
      <% if current_user.already_liked?(@post) %>
        <%= button_to 'いいね', post_like_path(@post), method: :delete, class: "video__info__unlike" %>
      <% else %>
        <%= button_to 'いいね', post_likes_path(@post), class: "video__info__like" %>
      <% end %>
    </div>
  <% end %>
  <div class="like-count">
    <%= @post.likes.count %>いいね
  </div>

  <div class="liked-users">
    <div class="user">
      <% @post.liked_users.each do |user| %>
        <%= link_to user_path(user) do %>
            <% if user.image? %>
               <%= image_tag user.image.thumb_liked.url %>
            <% else %>
               <%= image_tag "/assets/default.png", size: '30x30' %>
            <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="total__rate__container">
    <div class="total__rate__title">総合評価</div>
    <div class="total__rate">
      <div class="video__info__rate">
        <div id="star-rate"></div>
        <div class="rate__number">
          <%= @comments.average(:rate).to_f.round(1) %>
        </div>

      </div>
    </div>
  </div>
</section>



<style media="screen">
  .video__info__container {
    margin-top: 43px;
    float: right;
    min-height: 200px;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 0 3px grey;
    width: 300px;
    margin-right: 2;
    margin-right: 2px;
  }

  .video__info__title {
    margin-bottom: 10px;
    border-bottom: 1px solid skyblue;
    font-size: 14px;
  }

  .video__info__like {
    width: 150px;
    margin: 12px auto;
    padding: 10px;
    border-radius: 15px;
    transition: all .7s;
    background: #eee;
    color: black;
  }
  .video__info__unlike {
    width: 150px;
    margin: 12px auto;
    padding: 10px;
    border-radius: 15px;
    transition: all .7s;
    background: black;
    color: white;
  }

  .video__info__like:hover{
    width: 150px;
    margin: 12px auto;
    padding: 10px;
    border-radius: 15px;
    transition: all .7s;
    background: black;
    color: white;
  }


  .video__info__unlike:hover {
    width: 150px;
    margin: 12px auto;
    padding: 10px;
    border-radius: 15px;
    transition: all .7s;
    background: #eee;
    color: black;
  }

  .total__rate__container {
    height: 70px;
    width: 200px;
    margin: 0 auto;
  }

  .star-rate-1 {
    /* width: 100px;
    height: 20px; */
  }

  .rate__number {
    color: red;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .video__info__rate {
    margin: 10px;
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-evenly;
  }

</style>

<script>

  $('#star-rate').raty({
    size: 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    readOnly: true,
    score: <%= @comments.average(:rate) %>,
  });
</script>
