<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  </head>
  <body>

    <div class="notifications flash-msg js-flash-msg">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert-#{message_type}") %>
      <% end %>
    </div>

    <%= render 'layouts/header' %>

      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    <%= render 'layouts/footer' %>
  </body>
</html>

<script>
  $('.youtube').click(function(){
    video = '<iframe id="aaa" src="'+ $(this).attr('data-video') +'" frameborder="0" width="320" height="180"></iframe>';
    $(this).replaceWith(video);

    setTimeout(function(){
      $('.ytp-large-play-button').click()
      console.log(1323);
    },2000);
  });

  var $msg = $('.js-flash-msg');
  //メッセージがなくても空白が入ってしまうため、空白はすべて取り除く。
  text = $msg.text().replace(/\s+/g, "");

  if(text) {
      $msg.slideToggle('slow');

      setTimeout(function() {
          $msg.slideToggle('slow');
      }, 1200);
  }
</script>
